<template name="footer">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-left">
                        <h4>The platform</h4>
                        <a href="{{pathFor 'aboutPage'}}">About</a><br/>
                        <a href="{{pathFor 'feedback'}}">Feedback</a><br/>
                        <a href="{{pathFor 'how-to'}}">How-to</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>About Museomix</h4>
                    <p>View all projects</p>
                </div>
            </div>
        </div>
    </div>

</template>