<template name="footer">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-left">
                        <h4>What is this?</h4>
                        <a href="{{pathFor 'aboutPage'}}">About</a><br/>
                        <a href="">Feedback</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Learn more</h4>
                    <p>View all projects</p>
                </div>
                <div class="col-md-2">
                    <h4>Projects</h4>
                    <div class="project-number">
                        {{projectCount}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>