<template name="imageSlider">

<!-- main slider carousel -->
    <div class="row" id="slider">
        
        <div class="col-md-12" id="carousel-bounding-box">
            <div id="myCarousel" class="carousel slide">
                <!-- main slider carousel items -->
                <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                        <img src="http://placehold.it/900x600&amp;text=one" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="1">
                      <img src="http://placehold.it/900x600/&amp;text=two" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="2">
                        <img src="http://placehold.it/900x600&amp;text=three" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="3">
                        <img src="http://placehold.it/900x600&amp;text=four" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="4">
                        <img src="http://placehold.it/900x600&amp;text=five" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="5">
                        <img src="http://placehold.it/900x600&amp;text=six" class="img-responsive">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
    <!--/main slider carousel-->


  
    <!-- thumb navigation carousel -->
    <div class="mt hidden-sm hidden-xs" id="slider-thumbs">
            <!-- thumb navigation carousel items -->
          <ul class="list-inline">
            <li> 
                <a id="carousel-selector-0" class="selected">
                <img src="http://placehold.it/80x60&amp;text=one" class="img-responsive">
                </a>
            </li>
            <li> 
                <a id="carousel-selector-1">
                <img src="http://placehold.it/80x60&amp;text=two" class="img-responsive">
                </a>
            </li>
            <li> 
                <a id="carousel-selector-2">
                <img src="http://placehold.it/80x60&amp;text=three" class="img-responsive">
                </a>
            </li>
            <li> 
                <a id="carousel-selector-3">
                <img src="http://placehold.it/80x60&amp;text=four" class="img-responsive">
                </a>
            </li>
            <li> 
                <a id="carousel-selector-4">
                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                </a>
            </li>
            <li> 
                <a id="carousel-selector-5">
                <img src="http://placehold.it/80x60&amp;text=six" class="img-responsive">
                </a>
            </li>
            </ul>
     </div>   
    
</template>