<template name="share">
    <div id="share-btn">
        Share <i class="fa fa-share-alt"></i> 
        <a href="https://www.facebook.com/sharer/sharer.php"><i class="fa fa-facebook"></i></a>

        <a href="https://twitter.com/intent/tweet?text={{title}} - {{baseline}}&url={{pageLink}}&hashtags=museomix,museomixmtl" target="popup"><i class="fa fa-twitter"></i></a>

        <a href="mailto:?Subject=Museomix - {{title}} - {{baseline}}&body={{pageLink}}" target="popup"><i class="fa fa-envelope"></i></a>
    </div> 
</template>