<template name="markdownCheatsheet">
    <div id="cheat">
            <div class="edit text-right">
                <a data-toggle="collapse" href="#cheatsheet" data-parent="#cheat">
                    Markdown Cheatsheet
                </a>
            </div>
            <div id="cheatsheet" class="collapse row">
                    <div class="col-sm-6">
                        <p>
                        #level1 title<br/>
                        ##level2 title<br/>
                        ###level3 title<br/>
                        >quote<br/>
                        *italic* or _italic_<br/>
                        **bold** or __bold__<br/>
                        ~~strikethrough~~<br/>
                        --- or *** or ___ line<br/>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                        [link description](https://www.link.com)<br/>
                        1. First ordered list item<br/>
                        2. Another item<br/>
                        ⋅⋅* Unordered sub-list.<br/> 
                        1. Actual numbers don't matter, just that it's a number<br/>
                        ⋅⋅1. Ordered sub-list<br/>
                        4. And another item.<br/>
                        ```code```<br/>
                        </p>
                    </div>

            </div>
    </div>
</template>