<template name="projectSubmit">
  <form class="main col-md-6 col-md-offset-3">
    <h1>Project creation</h1>
    <div class="form-group">
        <div class="controls">
            <input id="title" class="form-control input-lg" type="text" value="" placeholder="Your awesome project name">
        </div>
    </div>
    <div class="form-group">
        <label for="baseline">And a few words to describe it:</label>
        <div class="controls">
            <input id="baseline" class="form-control" type="text" value="" placeholder="A short baseline">
        </div>
    </div>
    <div class="form-group">
        <label for="hub">Edition</label>
        <div class="controls">
            <select id="hub" class="form-control">
                {{#each hubs}}
                <option value="{{name}}" id="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group save">
        <a role="button" href="{{pathFor 'projectsList'}}" class="btn btn-lg btn-default">Cancel</a>
        <button type="submit" class="btn btn-lg btn-primary">Let's do this!</button>
    </div>
  </form>
</template>