<template name="projectPage">
    <div id="project-title" class="text-center col-md-12">
        <h1>{{title}} - {{baseline}}</h1>
    </div>
    <div id="project-hub" class="text-right">
        <h4><strong>{{hub}}  </strong><i class="fa fa-map-marker"></i></h4>
    </div>
    <div class="container">
    <div class="row project-container">
        

        <div class="col-sm-4 col-sm-push-8">
            <ul class="nav nav-pills nav-stacked" role="tablist" id="tabs">
                <li class="active"><a role="tab" data-toggle="tab" href="#desc">Description</a></li>
                <li class=""><a role="tab" data-toggle="tab" href="#inst">Instructions</a></li>
                <li><a role="tab" data-toggle="tab" href="#disc">Discussion <span class="badge">{{projectCommentCount}}</span></a></li>
                <li><a role="tab" data-toggle="tab" href="#upda">Updates <span class="badge">12</span></a></li>
            </ul>
            <div class="right-sidebar">
                <div class="edit text-right">
                    <a href="{{pathFor 'projectEdit'}}">Edit project info</a>
                </div>
                {{#if hasUrl}}
                     <a href="{{url}}">{{url}}</a>
                {{/if}}
                
                {{#if hasTags}}
                    <div class="tagbox">
                    {{#each projectTags}}
                        <span class="tag">{{this}}</span>
                    {{/each}}
                    </div>
                {{/if}}
                <hr>
                <strong>Team</strong><br/>
                {{author}}
                <a href="{{licenceLink}}" target="_blank"><img src="{{licenceImage}}" class="img-responsive mt" width="120px"></a>
            </div>
        </div> <!-- end col-sm-3 -->

        <div class="col-sm-8 col-sm-pull-4">
            <!-- tabs -->
            <div class="tab-content">
                <div class="tab-pane active row" id="desc">
                    <div class="col-md-12">
                        <img src="/images/SWAG.jpg" class="img-responsive" alt="Responsive image">
                        <div class="mt mb">
                            {{description}}
                        </div>
                    </div>
                </div> <!-- end first tab -->

                <div class="tab-pane row" id="inst">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div> <!-- end second tab -->

                <div class="tab-pane" id="disc">
                    {{#if currentUser}}
                        {{> commentSubmit}}
                    {{else}}
                        <div class="text-right comment-please">Please log in to leave a comment</div>
                    {{/if}} 
                    <p></p>
                    <ul class="comments">
                        {{#each projectComments}}
                          {{> comment}}
                        {{/each}}
                    </ul>
                    

                </div> <!-- end tab -->

                <div class="tab-pane row" id="upda">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div> <!-- end 4th tab -->


            </div> <!-- end tab content -->
        </div> <!-- end col-sm-9 -->


    </div>
    </div> <!-- end page -->

</template>