<template name="projectPage">
    <div id="project-title" class="text-center col-md-12">
        <h1>{{title}} - {{baseline}}</h1>
    </div>
    <div id="project-hub" class="text-right">
        <h4><strong>{{edition}}  </strong><i class="fa fa-map-marker"></i></h4>
    </div>
    <div id="project-container" class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <img src="/images/SWAG.jpg" class="img-responsive" alt="Responsive image"> 
            </div>
            <div class="col-md-4">
                <div class="edit text-right">
                    <a href="{{pathFor 'projectEdit'}}"><i class="fa fa-cog fa-2x"></i></a>
                </div>
                
                <h4><i class="fa fa-users"></i>  Team</h4>
                <p>
                <a href="#">Prénom Nom</a> designer<br>
                <a href="#">Prénom Nom</a> maker<br>
                <a href="#">Prénom Nom</a> communication<br>
                <a href="#">Prénom Nom</a> sound design<br>
                <a href="#">Prénom Nom</a> special effects<br>
                <a href="#">Prénom Nom</a> magic<br>
                <h4><i class="fa fa-magic"></i>  Facilitator</h4>
                <a href="#">Prénom Nom</a>
                <h4><i class="fa fa-thumbs-up"></i>  Special thanks</h4>
                <a href="#">John Good</a>
                <p></p>
                <a href="#">http://projectrealpage.com</a>
                </p>
                <h4> Tags</h4>
                <div class="tagbox">
                {{#each projectTags}}
                    <span class="tag">{{this}}</span>
                {{/each}}
                </div>
            </div>
        </div> <!-- row -->
    </div>
</template>