<template name="hubEdit">
    <div id="project-title" class="col-md-12 text-center">
        <h1>Edit hub info</h1>
    </div>
    <div class="container-fluid">
        <div class="row project-container">
            <form>        
                <div class="col-sm-3 col-sm-push-9">
                    <div class="fixed-sidebar">
                        <ul class="nav nav-pills nav-stacked" role="tablist" id="tabs">
                            <li class="active"><a role="tab" data-toggle="tab" href="#basic">Basic info</a></li>
                            <li class=""><a role="tab" data-toggle="tab" href="#social">Social</a></li>
                            <li class=""><a role="tab" data-toggle="tab" href="#community">Community</a></li>
                            <li class=""><a role="tab" data-toggle="tab" href="#museum">Museum</a></li>
                        </ul>
                        <div class="right-sidebar">
                            <div class="form-group">
                                <div class="controls command-buttons">
                                    <input class="btn btn-block btn-primary submit" type="submit" id="save" value="Save"/>
                                    <a class="btn btn-default btn-block cancel" href="#">Back to hub</a>
                                    <a class="btn btn-danger delete btn-block" href="#">Delete hub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-sm-3 -->

                <div class="col-sm-9 col-sm-pull-3">
                    <!-- tabs -->
                    <div class="tab-content">
                        <div class="tab-pane active row" id="basic">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="hub-name">Hub name</label>
                                    <div class="controls">
                                        <input name="hub-name" class="form-control input-lg" type="text" value="{{name}}" placeholder="Hub name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="country">Country</label>
                                    <div class="controls">
                                        <input name="country" class="form-control" type="text" value="{{country}}" placeholder="Country"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="hubdescription">Hub description</label>
                                    <textarea id="hubdescription" class="form-control" value="{{description}}" rows="6"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="teams">Number of teams</label>
                                    <div class="controls">
                                        <input name="teams" class="form-control" type="text" value="{{teams}}" placeholder="Number of teams"/>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end basic info tab -->

                        <div class="tab-pane row" id="social">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="facebook" class="col-sm-4 control-label">Facebook</label>
                                        <div class="col-sm-8">
                                            <input id="facebook" class="form-control" type="text" placeholder="http://" value="{{getSocial 'facebook'}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="twitter" class="col-sm-4 control-label">Twitter</label>
                                        <div class="col-sm-8">
                                            <input id="twitter" class="form-control" type="text" placeholder="http://" value="{{getSocial 'twitter'}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="linkedin" class="col-sm-4 control-label">LinkedIn</label>
                                        <div class="col-sm-8">
                                            <input id="linkedin" class="form-control" type="text" placeholder="http://" value="{{getSocial 'linkedin'}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="instagram" class="col-sm-4 control-label">Instagram</label>
                                        <div class="col-sm-8">
                                            <input id="instagram" class="form-control" type="text" placeholder="http://" value="{{getSocial 'instagram'}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tumblr" class="col-sm-4 control-label">Tumblr</label>
                                        <div class="col-sm-8">
                                            <input id="tumblr" class="form-control" type="text" placeholder="http://" value="{{getSocial 'tumblr'}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="website" class="col-sm-4 control-label">Hub website</label>
                                        <div class="col-sm-8">
                                            <input id="website" class="form-control" type="text" placeholder="http://" value="{{getSocial 'website'}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end social tab -->

                        <div class="tab-pane" id="community">
                            Ici la liste des gens qui sont associés à ce hub (ou à des projets associés à ce hub)<br/>
                            Possibilité d'ajouter des utilisateurs ici? Genre de les inviter en batch par email? 
                        </div> <!-- end community tab -->

                        <div class="tab-pane row" id="museum">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="museumLogo">Museum logo</label>
                                    <div class="controls">
                                        <input name="museumLogo" class="form-control" type="text" value="{{museumLogo}}" placeholder="museum logo link"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="museumLink">Museum logo</label>
                                    <div class="controls">
                                        <input name="museumLink" class="form-control" type="text" value="{{museumLink}}" placeholder="museum logo link"/>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end museum tab -->

            
                    </div> <!-- end tab content -->
                </div> <!-- end col-sm-9 -->

            </form>
        </div>
    </div> <!-- end page -->
    
</template>