body {
    background-color: #e7e7e7; 
    font-size: 16px;
}
.logo {
    margin-left:15px;
}
#main {
    margin-top: 80px;
}
.project-thumb {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 6px;
    overflow: hidden;
}
.project-thumb-title {
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 5px;
}
#project-title {
    padding-left: 15px;
    padding-right:15px;
    margin-bottom: 10px;
}
#project-container {
    background-color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.edit {
    position: absolute;
    margin-left: -30px;
    width: 100%;
}
#project-container .img-responsive {
    border-radius: 6px;
}
.save {
    margin-top: 30px;
    float: right;
}
.right {
    float:right;
}
.command-buttons {
    margin-top: 45px;
}
