body {
    background-color: white;     
    font-size: 16px;
}
form {
    margin-bottom: 100px;
}
#main {
    margin-top: 80px;
    margin-bottom: 0px;
    
}
#content-wrapper {
    height: auto !important;
    background-color: #e7e7e7; 
    background-image: url('bg.png');
}
.project-thumb {
    background-color: #F9FAFB;
    margin-bottom: 30px;
    border-radius: 6px;
    overflow: hidden;
    border:1px #EBECED solid;
}
.project-thumb-title {
    padding-left: 10px;
    padding-right: 10px; 
    height: 72px;
    padding-bottom: 5px;
    overflow: hidden;
}
.local {
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}
#project-title {
    padding-left: 15px;
    padding-right:15px;
    margin-bottom: 10px;
}
#project-hub {
    margin-bottom: 8px;
}
#project-container {
    background-color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.edit {
    position: absolute;
    margin-left: -30px;
    width: 100%;
}
#project-container .img-responsive {
    border-radius: 6px;
}
.save {
    margin-top: 30px;
    float: right;
}
.right {
    float:right;
}
.command-buttons {
    margin-top: 45px;
}
#footer {
    color:#CECECE;
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 30px;
}
#footer h4 {
    text-transform: uppercase;
}
/* Flat UI fixes */
h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 19px;
    font-weight: 300;
    color: rgb(80, 80, 80);
}
h1 {
    font-size: 50px;
}
#footer h4, #footer a {
    color: #CECECE;
}
#footer a :hover {
    color: rgb(80, 80, 80);
}
.project-thumb p {
    margin-bottom: 5px;
}
.navbar-default {
    background-color: white;
    border-bottom: #EBECED 1px solid;

}
.navbar-nav > li > .dropdown-menu {
    border-radius: 0px;
    margin-top: 0px;
}

.fa-2x {
    font-size: 1.5em;
}
p {
    margin-top: 10px;
    line-height: 1.3;
}
.navbar .input-group-addon {
    background-color: #EBECED; 
    border-color: #EBECED;
}
.navbar .form-control {
    border-color: #EBECED;   
}
.hub-link {
    margin-top: -15px;
}
