<template name="commentSubmit">
    <div class="comment">
        {{#with currentUser}}
            {{> avatarThumb}}
        {{/with}}
        <div class="arrow-left-submit"></div>
        <div class="comment-submit">
        <form name="comment" class="comment-form">
    <div class="control-group">
        <div class="controls">
            <textarea class="form-control" placeholder="Leave a comment" name="body"></textarea>
        </div>
    </div>
    <div class="control-group mt">
        <div class="controls">
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </div>
  </form>
</div>
    </div>


</template>