<template name="comment">
    <div class="comment mb">
       {{#with currentUser}}
            {{> avatarThumb}}
        {{/with}}
        <div class="arrow-left"></div>
        <div class="comment-content">
            <div class="comment-title arrow">
                <a href="/users/{{userId}}"><strong>{{author}}</strong></a>
                <div class="comment-meta text-right">{{submittedText}}</div>
            </div>
            <div class="comment-body arrow">
                {{body}}
            </div>    
        </div>
    </div>
</template>