<template name="signIn">
    {{#if isValidEmail}}
        <div class="container-fluid">
            <div class="row">
                <form class="col-sm-4 col-sm-offset-4 bmb text-center" id="login-form">
                    <h1>Welcome!</h1>
                    <div class="form-group">
                        <div class="controls">
                            <input id="account-username" class="form-control input-lg" type="text" value="" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input id="account-email" class="form-control" type="text" value="{{getEmail}}" placeholder="email" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input id="account-password" class="form-control" type="password" value="" placeholder="password">
                        </div>
                    </div>

                    <div class="form-group save">
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Let's do this!</button>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}
</template>