<template name="userItem">
    <div class="col-md-2 col-sm-3 col-xs-4">
        <a href="{{pathFor 'userProfile'}}">
            <div class="user-thumb">
        	{{#if profile.thumblink}} <img src="{{getUserPhoto}}" class="img-responsive" data-toggle="tooltip" data-placement="top" title="{{username}}">
            	{{else}}
            		<img src="/thumb.jpg" class="img-responsive">
            	{{/if}}
                <div class="user-thumb-title">
                    {{username}}
                </div>
            </div>
        </a>
    </div>
</template>
