 <template name="userProfile">
    <div class="container">
        <div class="row project-container">
            <div class="col-sm-3 col-xs-4">
             	{{#if profile.thumblink}} <img src="{{getUserPhoto}}" class="img-responsive">
            	{{else}}
            		<img src="/thumb.jpg" class="img-responsive">
            	{{/if}}
            	<h3>{{profile.name}} </h3>
                <h6> {{username}} </h6>
                <a class="btn btn-default btn-block mb" href="{{pathFor 'modifyUserProfile'}}">Edit your profile</a>
                <hr>
                <div class="social-icons">
                	<i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-linkedin-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                    <i class="fa fa-tumblr-square fa-2x"></i>
                    <a href="mailto:{{emails.[0].address}}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
                    <i class="fa fa-external-link-square fa-2x"></i>
                </div>
                <h7><i class="fa fa-map-marker"></i>Montreal</h7>
            </div> <!-- end first column --> 

            <div class="col-sm-9">
                activity goes here (latest comments, etc.)
            </div>    
        </div>
    </div>

</template>	