<template name= "aboutPage">
    <div class="row mb">
        <div class="page-content col-md-offset-1 col-md-10">
            <p>This platform was developed specially for Museomix by <a href="http://tinktank.org">TinkTank</a>, with help from George and <a href="http://sariha.com">Sariha</a>.</p>
            <p>It uses node.js and the <a href="http://meteorjs.com">Meteor</a> framework.</p>
            <p>You can view it on <a href="https://github.com/tart2000/microscopic">GitHub</a>.</p>
            <p>If you're interested in contributing and /or using the platform for your event, please contact <a href="mailto:arthur@tinktank.org">arthur@tinktank.org.</a></p>
        </div> 
    </div>
</template>