<template name= "feedback">
    <div class="row mb">
        <div class="page-content col-md-offset-1 col-md-10">
            <p>This platform was developed specially for Museomix by <a href="http://tinktank.org">TinkTank</a>, with help from George and <a href="http://sariha.com">Sariha</a>.</p>
            <p>It is tested locally only in Montreal this year. We'd love to have your feedback to improve it. Please fill in the form below to let us know what you think of it.</p>
            <p>Thank you</p>
            <form action="//forms.brace.io/arthur@tinktank.org" class="form-group" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="_replyto" placeholder="email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="message" rows="12"></textarea>
                </div>
                <input type="hidden" name="_subject" value="Museomix platform feedback" />
                <input type="submit" class="btn btn-primary" value="Send">
            </form>
        </div> 
    </div>
</template>